.preview-image {
  max-width: 100%;
  max-height: 200px;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.upload-container {
  border: 2px dashed #28a745;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.file-icon {
  font-size: 5rem;
  color: #6c757d;
}

.file-icon.hidden {
  display: none;
}
/* 
.form-label {
  font-size: 1.2rem;
  font-weight: bold;
}

.btn-primary {
  font-size: 1.2rem;
  border-radius: 20px;
  padding: 10px 30px;
  background-color: #4CAF50;
  border-color: #4CAF50;
}

.btn-primary:hover {
  background-color: #45a049;
  border-color: #45a049;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(76, 175, 80, 0.5);
}

.container {
  background-color: #f7f7f7;
  border-radius: 20px;
  padding: 30px;
}

h1 {
  font-size: 2.5rem;
  color: #4CAF50;
} */